table,
th,
td {
  margin-top: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

tr:hover {
  background-color: #f5f5f5;
}

th {
  background-color: DodgerBlue;
  color: white;
}

.info {
  text-align: center;
}

button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.75s;
}

button:hover {
  background-color: RoyalBlue;
  transition: 0.75s;
}

img {
  border-radius: 50%;
}
